.dc1{
	width:40px;
	height: 40px;
	background-repeat:no-repeat;
	background-image: url("../image/3.png");
	background-color: red;
	background-position: 0px 0px;
}
.dc2{
	width:40px;
	height: 40px;
	background-repeat:no-repeat;
	background-image: url("../image/3.png");
	background-color: red;
	background-position: -300px -90px;
}

//p{
	width:800px;
	height: 400px;
	background-repeat:no-repeat;
	background-image: url("../image/2.png");
	background-color: red;
}